/*------------ TOC --------------*/

.book .book-summary {
  background: white !important;
  background-color: white !important;
  /*border-right: none;*/
}

 /* all TOC list items, basically */

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #00274c;
}

.summary a:hover {
  color: #ffcb05 !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #d86018 !important;
  border-left: solid 4px;
  border-color: #d86018;
  padding-left: 11px !important;
}



.sidebar li.book-part {/* for TOC part names */
  margin-top: 1em;
  color: color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase !important;
  font-weight: bold;
}

